<link rel="stylesheet" href="/indexResources/education.css">
<section id="education" class="education whiteNavbar">
  <div class="container-fluid">
    <h3 data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="sectionHeader whiteText">education<span class="dot">.</span></h3>
    <div class="flexCenter">
      <div class="flex-column align-items-stretch">
          <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="col-auto my-4 educationCard py-4 px-2 px-sm-4 blackText">
              <div class="d-flex flex-row">
                  <div class="my-auto mx-2 mx-md-4 educationIcon">
                    <i class="fas fa-graduation-cap"></i>
                  </div>
                  <div class="d-flex flex-column px-2 px-md-4 flexCenter align-items-baseline"><span class="instituteName">Bachelor of Engineering</span> <span class="institute">The National Institute of engineering  |  2019 - 2023</span></div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
