<link rel="stylesheet" href="/indexResources/experience.css">
<section id="experience" class="experience">
  <div class="container-fluid">
    <h3 class="sectionHeader blackText">Experience<span class="dot">.</span></h3>
    <div class="row flexCenter">
      <div class="col-10 col-md-8 experienceCard px-3 py-4">
        <div class="container-fluid">
          <div class="row whiteText">
            <div class="col-5 flexCenter">
              <i class="fas fa-code"></i>
            </div>
            <div class="col-7 ">
              <div class="container-fluid">
                <div class="row ">
                  <div class="col-12 position">
                    Web Development Intern
                  </div>
                  <div class="col-12 companyName">
                    <a href="#"><small>@ Sigma Tenant</small></a>
                  </div>
                  <div class="col-12 duration">
                    MAR 2020 - Present
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!-- <div class="col-12 flexCenter mt-4">
        <small class="blackText">P.S.: i know its very less ;-P</small>
      </div> --}}
    </div>
  </div>
</section>
