<link rel="stylesheet" href="/indexResources/projects.css">

<section id="projects" class="projects blackNavbar">
  <div class="container-fluid">
    <h3 data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="sectionHeader blackText">Projects<span class="dot">.</span></h3>
    <div class="row flexCenter">
      <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="col-10 col-sm-5 col-md-5 project project1 my-4 my-md-0">
        <a href="https://tune-in.herokuapp.com" target="_blank">
          <div class="projectInner">
            <div class="innerWrapper">
              <div class="projectTitle  ">
                Tune In<br>
              </div>
              <div class="projectDesc  ">
                A music app to stream my favorite music on the go.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="col-10 col-sm-5 col-md-5 project project2 my-4 my-md-0">
        <a href="https://gif-lab-20.herokuapp.com" target="_blank">
          <div class="projectInner">
            <div class="innerWrapper">
              <div class="projectTitle  ">
                Gif Lab<br>
              </div>
              <div class="projectDesc  ">
                A Gif search engine powered by GIPHY.
              </div>
            </div>
          </div>
        </a>
      </div>
      <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="col-10 col-sm-5 col-md-5 project project3 my-4 my-md-0">
        <a href="https://passport-projekt.herokuapp.com" target="_blank">
          <div class="projectInner">
            <div class="innerWrapper">
              <div class="projectTitle  ">
                Passport.js oAuth<br>
              </div>
              <div class="projectDesc ">
                An authentication project using passport.js
              </div>
            </div>
          </div>
        </a>
      </div>
      <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="col-10 col-sm-5 col-md-5 project project4 my-4 my-md-4">
        <a href="https://rod3n.herokuapp.com" target="_blank">
          <div class="projectInner">
            <div class="innerWrapper">
              <div class="projectTitle  ">
                Rod3n<br>
              </div>
              <div class="projectDesc ">
                An amazing discord bot
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>