<link rel="stylesheet" href="/indexResources/skills.css">
<section id="skills" class="skills whiteNavbar skillHeader">
  <div class="container-fluid">
    <h3  data-aos="fade-up" data-aos-anchor-placement="center-bottom"  class="aos-fade-in sectionHeader whiteText">Skills<span class="dot">.</span></h3>
    <div class="flexCenter">
      <div class="row skillsWrapper justify-content-md-start justify-content-center">
        {{#each skills}}
        <div   data-aos="fade-up" data-aos-anchor-placement="center-bottom"  class="aos-fade-in col-12 col-sm-10 col-md-6 skill">
          <div class="skillName whiteText">
            {{this.name}}
          </div>
          <div class="progressBar">
            <div class="shrinker" style="width:{{skillLevel this.level}}%;">
            </div>
          </div>
        </div>
        {{/each}}

      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center my-4">
      <div   data-aos="fade-up" data-aos-anchor-placement="center-bottom"  class="aos-fade-in col-10 d-flex align-items-center justify-content-center mt-4">
        <a href="/Shreesh_Kulkarni-Resume.pdf" download="/Shreesh_Kulkarni-Resume.pdf">
          <div class="resumeBtn whiteText">
            <div class="resumeText">
              Download Resume
            </div>
            <div class="bgChange">

            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
