<link rel="stylesheet" href="/indexResources/skills.css">
<section id="skills" class="skills">
  <div class="container-fluid">
    <h3 class="sectionHeader whiteText">Skills<span class="dot">.</span></h3>
    <div class="flexCenter">
      <div class="row skillsWrapper">
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            Python
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:80%;right:20%;">

            </div>
            <div class="shrinker" style="width:20%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            C / C++
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:60%;right:40%;">

            </div>
            <div class="shrinker" style="width:40%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            HTML 5
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:100%;right:0%;">

            </div>
            <div class="shrinker" style="width:0%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            CSS 3
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:90%;right:10%;">

            </div>
            <div class="shrinker" style="width:10%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            Javascript (ES6)
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:80%;right:20%;">

            </div>
            <div class="shrinker" style="width:20%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            JQuery
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:70%;right:30%;">

            </div>
            <div class="shrinker" style="width:30%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            Node.js
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:70%;right:30%;">

            </div>
            <div class="shrinker" style="width:30%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            Django
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:40%;right:60%;">

            </div>
            <div class="shrinker" style="width:60%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            Flask
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:50%;right:50%;">

            </div>
            <div class="shrinker" style="width:50%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            Vue.js
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:80%;right:20%;">

            </div>
            <div class="shrinker" style="width:20%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            Bootstrap
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:90%;right:10%;">

            </div>
            <div class="shrinker" style="width:10%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            SQL / SQLite
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:60%;right:40%;">

            </div>
            <div class="shrinker" style="width:40%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            Mongo DB
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:80%;right:20%;">

            </div>
            <div class="shrinker" style="width:20%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            Passport.js
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:50%;right:50%;">

            </div>
            <div class="shrinker" style="width:50%;">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 skill">
          <div class="skillName whiteText">
            GSAP - ScrollMagic
          </div>
          <div class="progressBar">
            <div class="animationShrinker" style="width:70%;right:30%;">

            </div>
            <div class="shrinker" style="width:30%;">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center my-4">
      <div class="col-10 d-flex align-items-center justify-content-center mt-4">
        <a href="/indexResources/images/resume.png" download="shreesh_kulkarni_resume.png">
          <div class="resumeBtn whiteText">
            <div class="resumeText">
              Download Resume
            </div>
            <div class="bgChange">

            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
