<script src="/test.js" charset="utf-8"></script>
<div class="main">
  <div class="hw hw1">
    <div class="img img1">

    </div>
  </div>
  <div class="hw hw2">
    <div class="img img2">

    </div>
  </div>
</div>
<style scoped="true" media="screen" lang="css">
.main{
  height: 100vh;
  width: 100%;
}
  .img {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .hw {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
  .hw2{
    overflow-y: hidden;
    height: 0;
  }

  .img1{
    z-index: 1;
    background-image: url('/indexResources/images/CodeCamp.png');
  }

  .img2{
    z-index: 5;
    background-image: url('/indexResources/images/stars.jpg');
  }
</style>
