section.experience{
  background-color: #f8f9fb;
  color: #000;
  padding-bottom: 7rem;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💻</text></svg>") 16 0,auto; /*!emojicursor.app*/
}
.experienceCard{
  border-radius: 15px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
  background-color: #000;
  color: #fff;
}
.position{
  font-size: 1rem;
  font-weight: 600;
}
.companyName a small:hover{
  text-decoration: underline;
}
.companyName a{
  text-decoration: none;
  color: #fff;
}
.experienceIcon{
  font-size: 2.4rem;
  font-weight: 600;
}

.duration{
  font-size: 0.8rem;
}

@media only screen and (min-width:768px){
  .position{
    font-size: 1.4rem;
  }
  .experienceIcon{
    font-size: 3.5rem;
  }
  .duration{
    font-size: 1rem;
  }
}
