/* font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace; */
* {
  scroll-behavior: smooth;
  font-family: 'Roboto Mono', monospace;
}
.blackText,
.whiteText {
  /* opacity: 0.35; */
}
.blackText {
  /* color: rgba(0,0,0,0.4); */
  color: rgba(0, 0, 0, 1);
}
.whiteText {
  /* color:rgba(255,255,255,0.4); */
  color: rgba(255, 255, 255, 1);
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
#vueMain {
  overflow-x: hidden;
}
body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: transparent;
  border: 1px solid #000;
  mix-blend-mode: difference;
  margin: 1rem 10rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  mix-blend-mode: difference;
  outline: 1px solid slategrey;
  background: linear-gradient(270deg, #ff8008, #ffc837);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  -o-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}
body::-webkit-scrollbar-button {
  display: none;
}
.css-selector {
  background: linear-gradient(270deg, #ff8008, #ffc837);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  -o-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}
.dot {
  font-size: 150%;
  background: -webkit-linear-gradient(#ff8008, #ffc837);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.exclamatory {
  font-size: 100%;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  padding: 1.5rem 0;
}

.landingRect {
  /* height: 100vh; */
  height: calc(100vh - 56px);
  width: 100%;
  color: #fff;
  font-weight: 700;
  /* background-color: #2e2e2e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%232e2e2e' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(23.25) translate(-956.99 -717.74)'%3E%3Cuse fill='%23323232' href='%23s' y='2'/%3E%3Cuse fill='%23323232' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23363636' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23363636' href='%23s'/%3E%3Cuse fill='%233b3b3b' href='%23s' x='2'/%3E%3Cuse fill='%233b3b3b' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(23.25) translate(-956.99 -717.74)'%3E%3Cg fill='%233f3f3f'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(23.25) translate(-956.99 -717.74)'%3E%3Cg fill='%233f3f3f'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(23.25) translate(-956.99 -717.74)'%3E%3Cg fill='%23434343'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(23.25) translate(-956.99 -717.74)'%3E%3Cg fill='%232e2e2e'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23474747'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(23.25) translate(-956.99 -717.74)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(23.25) translate(-956.99 -717.74)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(23.25) translate(-956.99 -717.74)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  z-index: -1;
}
.landing {
  margin-top: 64px;
}
.landingRectBg {
  height: 100vh;
  width: 100%;
  /* background-image: url('./images/stars.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* background-color: #2e2e2e;
  background-image: url("./images/Pattern-Randomized.svg");
  background-attachment: fixed;
  background-size: cover; */

  /* background-color: #111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 90 90'%3E%3Ccircle fill='%23ff7f08' cx='45' cy='45' r='5'/%3E%3Cg fill='%23ffca37' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='5'/%3E%3Ccircle cx='90' cy='90' r='5'/%3E%3Ccircle cx='90' cy='0' r='5'/%3E%3Ccircle cx='0' cy='0' r='5'/%3E%3C/g%3E%3C/svg%3E");mage: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 90 90'%3E%3Ccircle fill='%23ff7f08' cx='45' cy='45' r='5'/%3E%3Cg fill='%23ffca37' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='5'/%3E%3Ccircle cx='90' cy='90' r='5'/%3E%3Ccircle cx='90' cy='0' r='5'/%3E%3Ccircle cx='0' cy='0' r='5'/%3E%3C/g%3E%3C/svg%3E"); */

  background-color: #ffffff;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ff8008'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ff8d30'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("./images/image.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-color: #000; */
  /* filter: blur(1px); */
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#bgImg {
  height: 150%;
}
.lContent{
  transform: rotateX(0deg);
  perspective: 100px;
}
.name {
  font-family: 'Playfair Display', serif !important;
  color: #111;
  font-size: 3rem;
  font-weight: 900;
  word-spacing: 2rem;
  text-transform: capitalize;
}
.desc {
  font-weight: 400;
  font-size: 1.4rem;
  color: #111;
  text-align: center;
}
.arrowWrapper {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 80px;
  height: 100px;
}
/* .arrowLeft{
  width: 40px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin:100% 50% 0;
}
.arrowRight{
  width: 40px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin:0 50% 0;
  transform: translateX(40px);
} */
.arrowLeft {
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 20px;
  transform-origin: 100% 50% 0;
  transform: rotate(0deg);
  animation: leftArrowAnimation 2s linear 2s infinite normal;
}
.arrowRight {
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0px;
  transform-origin: 0 50% 0;
  transform: translateX(40px) rotate(0deg);
  animation: rightArrowAnimation 2s linear 2s infinite normal;
}
@keyframes leftArrowAnimation {
  0% {
    transform: rotate(0deg);
    bottom: 0;
  }
  7% {
    transform: rotate(-40);
    bottom: 10px;
  }
  15% {
    transform: rotate(-35deg);
    bottom: 20px;
  }
  30% {
    transform: rotate(-25deg);
    bottom: 40px;
  }
  60%,
  80%,
  100% {
    transform: rotate(0deg);
    bottom: 0;
  }
}
@keyframes rightArrowAnimation {
  0% {
    transform: translateX(40px) rotate(0deg);
    bottom: 0;
  }
  7% {
    transform: translateX(40px) rotate(40);
    bottom: 10px;
  }
  15% {
    transform: translateX(40px) rotate(35deg);
    bottom: 20px;
  }
  30% {
    transform: translateX(40px) rotate(25deg);
    bottom: 40px;
  }
  60%,
  80%,
  100% {
    transform: translateX(40px) rotate(0deg);
    bottom: 0;
  }
}

section.profile {
  background-color: #fff;
  padding: 3rem 1rem;
  z-index: 10;
}

#profileImgWrapper{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 5rem;
  overflow: hidden;
}
#profileImgWrapper img{
  /* position: absolute; */
  transform: translate(-45%, 0) scale(2.5);

}

div.aboutMe a:hover {
  text-decoration: none;
}
.sectionHeader {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 3rem 0 2rem 0;
  margin-top: 0;
}
.profileImg img {
  margin: 2rem auto;
}
@media only screen and (max-width: 576px) {
  .sectionHeader {
    padding: 3rem 0 3rem 0;
  }
  section {
    padding: 1rem 0;
  }
  .profileImg {
    /* margin: 0 auto 2rem auto; */
  }
  .lContent {
  }
}
@media only screen and (max-width: 430px) {
  .name {
    font-size: 1.7rem;
  }
  .desc {
    font-size: 1rem;
    padding: 0 2rem;
  }
  .sectionHeader{
    font-size: 2rem;
  }
  .profile h5{
    padding-top: 1rem;
  }
  #profileImgWrapper img {
    /* transform: scale(2.5) translate(-18%, 5%); */
  }
}
