@font-face{
  font-family:"kate";
  src: url('./init/Kate/Kate-Display.otf');
}
@font-face{
  font-family:"athenaR";
  src: url('./init/Athena/Athena-Regular.ttf');
}
@font-face{
  font-family:"athenaRI";
  src: url('./init/Athena/Athena-RegularItalic.ttf');
}
@font-face{
  font-family:"athenaL";
  src: url('./init/Athena/Athena-Light.ttf');
}
@font-face{
  font-family:"athenaLI";
  src: url('./init/Athena/Athena-LightItalic.ttf');
}
@font-face{
  font-family:"athenaI";
  src: url('./init/Athena/Athena-Inline.ttf');
}
@font-face{
  font-family:"athenaII";
  src: url('./init/Athena/Athena-InlineItalic.ttf');
}
