<link rel="stylesheet" href="/indexResources/experience.css">
<section id="experience" class="experience blackNavbar">
  <div class="container-fluid">
    <h3   data-aos="fade-up" data-aos-anchor-placement="center-bottom"  class="aos-fade-in sectionHeader blackText experienceHeader">Experience<span class="dot">.</span></h3>
    <div class="flexCenter">


      <div class="flex-column align-items-stretch">
        <div   data-aos="fade-up" data-aos-anchor-placement="center-bottom"  class="aos-fade-in col-auto experienceCard px-1 px-md-3 py-4 my-4">
          <div class="container-fluid">
            <div class="d-flex whiteText flex-row">
              <div class="my-auto mx-2 mx-md-4 experienceIcon">
                <i class="fas fa-code"></i>
              </div>
              <div class="d-flex flex-column mx-2 mx-md-4">
                <div class="position">
                  Web Development Intern
                </div>
                <div class="companyName">
                  <a href="https://sigmatenant.com" target="_blank"><small>@Sigma Tenant</small></a> | 
                  <a href="/LOS-sigmatenant.pdf" target="_blank"><small>Letter of Recommendation</small></a>
                </div>
                <div class="duration">
                  MAY 2020 - JULY 2020
                </div>
              </div>
            </div>
          </div>
        </div>
        <div   data-aos="fade-up" data-aos-anchor-placement="center-bottom"  class="aos-fade-in col-auto experienceCard px-1 px-md-3 py-4 my-4">
          <div class="container-fluid">
            <div class="d-flex whiteText flex-row">
              <div class="my-auto mx-2 mx-md-4 experienceIcon">
                <i class="fas fa-code"></i>
              </div>
              <div class="d-flex flex-column mx-2 mx-md-4">
                <div class="position">
                  Vue.js Developer
                </div>
                <div class="companyName">
                  <a href="https://w3dev.in" target="_blank"><small>@W3Dev</small></a>
                </div>
                <div class="duration">
                  AUGUST 2020 - PRESENT
                </div>
              </div>
            </div>
          </div>
        </div>
        
        {{!-- <div class="col-12 flexCenter mt-4">
        <small class="blackText">P.S.: i know its very less ;-P</small>
      </div> --}}
      </div>
    </div>
  </div>
</section>