<link rel="stylesheet" href="/indexResources/footer.css">
<section id="contact" class="footer whiteNavbar">
  <div class="container-fluid">
    <div   data-aos="fade-up" data-aos-anchor-placement="center-bottom"  class="aos-fade-in row collabCardWrapper flexCenter">
      <div class="col-12 col-md-8">
        <div class="container-fluid">
          <div class="row w-100 collabCard">
            <div class="col-12 col-sm-6  collabText d-flex align-items-center justify-content-center">
              Wanna Collaborate?
            </div>
            <div class="col-12 col-sm-6 flexCenter">
              <a class="collabBtnAnchor" href="mailto:sgkul2000@gmail.com">
                <div class="collabBtn">
                  Let 's do it!
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3   data-aos="fade-up" data-aos-anchor-placement="center-bottom"  class="aos-fade-in sectionHeader footerHeader">Say hello<span
        class="dot">!</span></h3>
    <div class="row flexCenter">
      <div class="col-12 col-md-8 py-4 flexCenter">
        <div  class="d-flex flex-wrap flex-row flexCenter">
          <a target="_blank" href="https://twitter.com/sgkul2000" class="socialIconWrapper"><img class="socialIcon twitterIcon" src="/indexResources/images/twitter.svg" alt="Twitter Icon"></a>
          <a target="_blank" href="https://www.instagram.com/kulkarni.shreesh/" class="socialIconWrapper"><img  class="socialIcon instagramIcon" src="/indexResources/images/instagram.svg" alt="Instagram Icon"></a>
          <a target="_blank" href="https://www.linkedin.com/in/shreesh-k-46370410a/" class="socialIconWrapper"><img  class="socialIcon linkedInIcon" src="/indexResources/images/linkedin.svg" alt="LinkedIn Icon"></a>
          <a target="_blank" href="https://github.com/sgkul2000" class="socialIconWrapper"><img  class="socialIcon githubIcon" src="/indexResources/images/github.svg" alt="Github Icon"></a>
          <a target="_blank" href="mailto:sgkul2000@gmail.com" class="socialIconWrapper"><img  class="socialIcon mailIcon" src="/indexResources/images/at.svg" alt="Mail Icon"></a>
          <div class="WebShareAPI socialIconWrapper" id="WebShareAPI"><img  class="socialIcon shareIcon" src="/indexResources/images/share.svg" alt="Share Icon"></div>
        </div>
      </div>
    </div>
    {{!-- <div class="row flexCenter">
      <div class="col-12 col-md-8 py-4 flexCenter">
        <div  class="d-flex flex-wrap flex-row flexCenter">
          <a target="_blank" href="https://twitter.com/sgkul2000" class="socialIconWrapper"><i class="fab fa-twitter"></i></a>
          <a target="_blank" href="https://www.instagram.com/kulkarni.shreesh/" class="socialIconWrapper"><i class="fab fa-instagram"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/shreesh-k-46370410a/" class="socialIconWrapper"><i class="fab fa-linkedin-in"></i></a>
          <a target="_blank" href="https://github.com/sgkul2000" class="socialIconWrapper"><i class="fab fa-github"></i></a>
          <a target="_blank" href="mailto:sgkul2000@gmail.com" class="socialIconWrapper"><i class="far fa-envelope"></i></a>
        </div>
      </div>
    </div> --}}
    <div class="row text-center flexCenter px-4">
      Made with <span class="heart"> 🧡 </span> by
      Shreesh Kulkarni<span class="dot exclamatory">.</span>
    </div>
  </div>
</section>