<section class="profile blackNavbar" id="profileHeader">
  <div class="container-fluid">
    <h3 id="profile" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
      class="aos-fade-in sectionHeader blackText">Profile<span class="dot">.</span></h3>
    <div class="row flexCenter profileImg">
      <div id="profileImgWrapper" data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="aos-fade-in ">
        {{!-- <img class="" height="150px" src="/indexResources/images/tunein.webp" alt=""> --}}
        <picture height="150px">
          <source srcset="/indexResources/images/profile.webp" type="image/webp">
          <source srcset="/indexResources/images/profile.jpg" type="image/jpeg">
          <img height="150px" src="/indexResources/images/profile.jpg" alt="Profile images">
        </picture>
      </div>
    </div>
    <div class="row d-flex flex-row flexCenter flex-wrap">
      {{!-- <div class="col-12 col-sm-10 col-md-4">
        <div class="d-flex flex-column">
          <div class="blackText">
            <h5 class="mt-4 mb-0">Who am i?</h5>
            <div class="aboutMe">
              A student at <a target="_blank" href="https://nie.ac.in/">The National Institute of Engineering</a> and a web development
              intern at <a class="stRef" target="_blank" href="https://w3dev.in/">W3dev, New Delhi</a>
            </div>
          </div>
          <div class="blackText">
            <h5 class=" mt-4">Details</h5>
            <b class="">Name: </b>Shreesh Kulkarni<br>
            <b class="">Age: </b>19<br>
            <b class="">Location: </b>Belgaum ✈ Mysore<br>
          </div>
        </div>
      </div> --}}
      <div class="col-12 col-sm-10 col-md-7">
        <div class="blackText">
          <h5 data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="aos-fade-in mt-4">Who am i?</h5>
          <div id="profileDESC" data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="aos-fade-in ">
            An Enthusiastic developer eager to contribute to team success through hard work, attention to detail and
            excellent organizational skills. Clear understanding of Web Design and various web technologies. Motivated
            to learn, grow and excel in web development.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>